{
    # debug
    log {
        output file /var/log/caddy/caddy.log
        format console
    }
}

:443 {
    encode zstd gzip
    log {
        output file /var/log/caddy/web.log {
            roll_size 10MiB
            roll_keep 5
            roll_keep_for 168h
        }
    }

    redir /.well-known/carddav /remote.php/dav/ 301
    redir /.well-known/caldav /remote.php/dav/ 301

    @public host ${public_host}
    header @public Strict-Transport-Security "max-age=31536000"

    reverse_proxy app:80 {
        header_up X-Real-IP {remote_host}
    }

    tls /etc/ssl/private/${host_name}.crt /etc/ssl/private/${host_name}.key
}
